@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  margin: 0;
  min-height: 100dvh;
  background-image: url("./images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
span {
  position: relative;
}
.container {
  max-width: 768px;
  padding: 4.3rem 1.5rem;
}
.header {
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.header .title {
  font-size: 1.75rem;
  font-weight: 700;
}
.card {
  margin-top: 3.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.top {
  color: white;
  background-color: hsl(247, 32%, 48%);
  padding: 1rem 4rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 300;
  box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.26);
}
.top > span {
  font-weight: 600;
}
.form {
  position: relative;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.75rem;
}
.form input {
  position: relative;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 500;
}
.form .btn {
  margin-top: 1rem;
  background-color: hsl(154, 60%, 51%);
  color: white;
  border: 1px solid transparent;
  box-shadow: 0px 4px 0px hsl(154, 58%, 46%);
}
.form .btn:hover {
  cursor: pointer;
  background-color: hsl(154, 65%, 68%);
}
.form .footer {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding-inline: 0.8rem;
  color: hsl(246, 25%, 77%);
}
.form .footer .accent {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

/* ERROR */

.form input.error {
  border: 1px solid hsl(0, 100%, 74%);
}
.form input:focus {
  outline: none;
}
.message {
  position: relative;
}
.message.active::before {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  z-index: 1;
  content: url("./images/icon-error.svg");
}
.message.labelName.active::after,
.message.labelLast.active::after,
.message.labelEmail.active::after,
.message.labelPass.active::after {
  position: absolute;
  right: 0.5rem;
  top: 5em;
  font-size: 14px;
  font-weight: 500;
  color: hsl(0, 100%, 74%);
  z-index: 1;
}
.message.labelName.active::after {
  content: "First Name cannot be empty";
}
.message.labelLast.active::after {
  content: "Last Name cannot be empty";
}
.message.labelEmail.active::after{
  content: "looks like this is not email";
}
.message.labelPass.active::after{
  content: "Password cannot be empty";
}
@media (min-width: 900px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
  }
  .container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header {
    text-align: left;
  }
  .header .title {
    font-size: 3.5rem;
    line-height: 1.1;
  }
  .header .description {
    padding-right: 6rem;
  }
  .card {
    width: 90%;
  }
}
